<section class="about" data-anim-item>
  <img class="hexagon hexagon-7" src="./img/hexagon-7.png" alt="hexagon"/>
  <div class="container">
    <div class="about__inner">
      <div class="about__row">
        <div class="about__column">
          <img class="about__img" src="./img/about/smart-home.png" alt="smart-home">
        </div>
        <div class="about__content">
          <h2 class="about__title">about us</h2>
          <div class="about__text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus esse cumque magnam, soluta officia laborum quasi inventore aut tempora, aperiam neque laudantium expedita ullam repellat! Recusandae soluta, fugiat ad doloribus id minima inventore incidunt deserunt, laudantium sequi magni maiores beatae nulla deleniti. Cupiditate neque enim ad laudantium magnam odio omnis.</p>
          </div>
          <ul class="contacts">
            <li class="contacts__item contacts__item_phone" data-anim-item>+01 24 5678 91011</li>
            <li class="contacts__item contacts__item_email" data-anim-item>work@myemail.com</li>
            <li class="contacts__item contacts__item_address" data-anim-item>Tour address Here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>