<section class="advantages">
  <img class="hexagon hexagon-3" src="./img/hexagon-3.png" alt="hexagon"/>
  <img class="hexagon hexagon-4" src="./img/hexagon-4.png" alt="hexagon"/>
  <div class="container">
    <div class="advantages__inner">
      <img class="advantages__background" src="./img/advantages/background.png" alt="background"/>
      <div class="advantages__row">
        <div class="advantages__column">
          <div class="advantages__icon">
            <img class="advantages__img" src="./img/advantages/security-icon.svg" alt="security">
          </div>
          <div class="advantages__content">
            <h5 class="advantages__title">smart lamp</h5>
            <div class="advantages__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, molestias!</p>
            </div>
          </div>
        </div>
        <div class="advantages__column">
          <div class="advantages__icon">
            <img class="advantages__img" src="./img/advantages/lamp-icon.svg" alt="security">
          </div>
          <div class="advantages__content">
            <h5 class="advantages__title">security system</h5>
            <div class="advantages__text">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, facilis.</p>
            </div>
          </div>
        </div>
        <div class="advantages__column">
          <div class="advantages__icon">
            <img class="advantages__img" src="./img/advantages/control-icon.svg" alt="security">
          </div>
          <div class="advantages__content">
            <h5 class="advantages__title">cctv control</h5>
            <div class="advantages__text">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, dolor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>