<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__body">
        <div class="footer__about">
          <h4 class="footer__title">about</h4>
          <div class="footer__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur perferendis, esse dolorem amet inventore impedit iusto? Quam libero odit iusto eius omnis a reiciendis?</p>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__column">
            <h4 class="footer__title">home</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
            </ul>
          </div>
          <div class="footer__column">
            <h4 class="footer__title">home</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
            </ul>
          </div>
          <div class="footer__column">
            <h4 class="footer__title">home</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Lorem, ipsum.</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom"></div>
</footer>