<header class="header">
  <div class="container container_large">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="./img/logo.png" alt="logo" />
      </a>
      <button class="burger-button" data-button-menu>
        <span class="burger-button__line"></span>
      </button>
      <nav class="menu" data-menu>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Access Control</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Digital</a>
          </li>
        </ul>
      </nav>

      <div class="input-field">
        <input class="input" type="text" placeholder="Search">
      </div>

      <div class="socials">
        <ul class="socials__list" data-socials-list>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg class="socials__icon">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg class="socials__icon">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg class="socials__icon">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg class="socials__icon">
                <use xlink:href="#whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="socials__dropdown" data-socials-dropdown>
          <svg class="dropdown-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>