<header class="header">
  <div class="container container_large">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="./img/logo.png" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Access Control</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Digital</a>
          </li>
        </ul>
      </nav>

      <div class="input-field">
        <input class="input" type="text" placeholder="Search">
      </div>

      <div class="socials">
        <a class="socials__item" href="#">
          <svg class="socials__icon">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
        <a class="socials__item" href="#">
          <svg class="socials__icon">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
        <a class="socials__item" href="#">
          <svg class="socials__icon">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>
        <a class="socials__item" href="#">
          <svg class="socials__icon">
            <use xlink:href="#whatsapp"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>