<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__row">
        <div class="intro__content">
          <h1 class="intro__title">future is now</h1>
          <h2 class="intro__subtitle">smart home</h2>
          <div class="intro__text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nihil temporibus cumque molestias officia a!</p>
          </div>
          <a class="main-button" href="/">See more</a>
        </div>
        <div class="intro__column">
          <img class="intro__img" src="./img/intro/smart-home.png" alt="smart-home">
        </div>
      </div>
    </div>
  </div>
  <img class="hexagon hexagon-1" src="./img/hexagon-1.png" alt="hexagon"/>
  <img class="hexagon hexagon-2" src="./img/hexagon-2.png" alt="hexagon"/>
</section>