<section class="monitoring">
  <img class="hexagon hexagon-6" src="./img/hexagon-6.png" alt="hexagon"/>
  <div class="container">
    <div class="monitoring__inner">
      <div class="monitoring__row">
        <div class="monitoring__content">
          <h2 class="monitoring__title">monitor home remotely</h2>
          <ul class="monitoring__list">
            <li class="monitoring__item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, alias.</li>
            <li class="monitoring__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, tempore!</li>
            <li class="monitoring__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur cumque consequuntur nesciunt atque laborum, sint debitis quo provident aliquid.</li>
            <li class="monitoring__item">Lorem ipsum dolor sit amet.</li>
          </ul>
          <div class="monitoring-service">
            <div class="monitoring-service__text">Service</div>
            <div class="monitoring-service__numbers">012345</div>
          </div>
        </div>
        <div class="monitoring-phone">
          <img class="monitoring-phone__img" src="./img/monitor/phone-1.png" alt="phone">
          <div class="monitoring-phone__content">
            <img class="logo monitoring-phone__logo" src="./img/logo.png" alt="logo">
            <h4 class="monitoring-phone__title">future is now</h4>
            <img class="monitoring-phone__home" src="./img/monitor/smart-home.png" alt="smart-home">
            <a class="main-button" href="#">Download Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>