<section class="security">
  <div class="container">
    <div class="security__inner">
      <div class="security__row">
        <div class="security__column">
          <img class="security__img" src="./img/security/smart-home-security.png" alt="smart-home">
        </div>
        <div class="security__content">
          <h2 class="security__title">smart home</h2>
          <h5 class="security__subtitle">Security System</h5>
          <div class="security__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facilis, numquam laudantium praesentium velit error corporis minima quaerat, sunt accusantium odit, ullam repellat dolorum eius?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>