<section class="security-mode">
  <div class="container">
    <div class="security-mode__inner">
      <h2 class="security-mode__title">security mode type</h2>
      <div class="security-mode__row">
        <div class="security-mode__column" data-anim-item>
          <img class="security-mode__background" src="./img/security-modes/background.png" alt="background">
          <div class="security-mode__icon">
            <img class="security-mode__img" src="./img/security-modes/type-a.png" alt="security-type" >
          </div>
          <div class="security-mode__content">
            <h3 class="security-mode__type">type a</h3>
            <div class="security-mode__text">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas libero repellendus accusantium, nostrum ipsa quo.</p>
            </div>
            <a class="main-button" href="#">See more</a>
          </div>
        </div>
        <div class="security-mode__column" data-anim-item>
          <img class="security-mode__background" src="./img/security-modes/background.png" alt="background">
          <div class="security-mode__icon">
            <img class="security-mode__img" src="./img/security-modes/type-b.png" alt="security-type" >
          </div>
          <div class="security-mode__content">
            <h3 class="security-mode__type">type b</h3>
            <div class="security-mode__text">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas libero repellendus accusantium, nostrum ipsa quo.</p>
            </div>
            <a class="main-button" href="#">See more</a>
          </div>
        </div>
        <div class="security-mode__column" data-anim-item>
          <img class="security-mode__background" src="./img/security-modes/background.png" alt="background">
          <div class="security-mode__icon">
            <img class="security-mode__img" src="./img/security-modes/type-c.png" alt="security-type" >
          </div>
          <div class="security-mode__content">
            <h3 class="security-mode__type">type c</h3>
            <div class="security-mode__text">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas libero repellendus accusantium, nostrum ipsa quo.</p>
            </div>
            <a class="main-button" href="#">See more</a>
          </div>
        </div>
      </div>
      <div class="security-mode__description">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum saepe illum quis ipsum dignissimos laudantium recusandae velit qui assumenda sint? Quaerat repellat expedita sed voluptatibus!</p>
      </div>
    </div>
  </div>
</section>