<section class="technologies">
  <img class="hexagon hexagon-8" src="./img/hexagon-8.png" alt="hexagon"/>
  <div class="container">
    <div class="technologies__inner">
      <h3 class="technologies__title">Check what your house can do for you</h3>
      <div class="technologies__row">
        <div class="technologies__column">
          <img class="technologies__img" src="./img/technologies/technology-1.jpg" alt="technology">
        </div>
        <div class="technologies__column">
          <img class="technologies__img" src="./img/technologies/technology-2.jpg" alt="technology">
        </div>
        <div class="technologies__column">
          <img class="technologies__img" src="./img/technologies/technology-3.jpg" alt="technology">
        </div>
      </div>
    </div>
  </div>
</section>